<!DOCTYPE html>
<html>
    <head>
        {{>header}}
    </head>
<body>
<div class="header">
        <a href="/index2"> The Gyan Briksh</a>
</div>

<div class="about">
      
        <div class="p">
            <br><br>
    <p> This game is designed for people of all ages. Our game mostly emphasizes in providing comprehensive knowledge regarding Indian Heritage and Culture, Mathematics, Current affairs and Valuable Ethics to the Indians as well as the people living in abroad.A majority of our country men doesn’t seem to have the knowledge regarding our history. They are unaware of our Rich Heritage. 
        So this game will provide them with in-depth knowledge regarding our Country .</p></div>
        <br>
        <div class="p"> <p>In this game we have four categories which a player can choose</p></div>
        <br>
        <div class="p"><p>1)	Indian Mythology and History</p></div>
       <br>
            <div class="p"><p>2)	Simple Mathematics</p>  </div> 
         <br>     
         <div class="p"><p>3)	Current situation</p></div>
          <br>

          <div class="p"><p>4)	Ethics and values  </p></div>
<br>
      <div class="p"><p>Other than the questions ,
           the player will also learn many things  while playing  the game from “game tips “</p></div>
          <div class="p"><p>In order to keep  challenging the player,  each section has been provided with three levels </p></div>
          <br>
          <div class="p"><p>•	Beginner </p></div>
          <br>
          <div class="p"><p>•	Medium</p></div>
          <br>
          <div class="p"><p>•	Advance</p></div>
          <br>
          <div class="p"><p>The player will start from the beginner level and on answering each question ,he will score points.  A particular sum total of the points will result in unlocking the next level .  Once he have reached  the next level, in order to save his progress ,he have to create account . By doing so ,
               once he re-launch  the game , he can start from where he ended previously.</p></div> 
          <div class="p"><p>In the end we would like to say we hope that our game make it as far as 
              possible to give an insight  about our Country’s rich heritage and culture to fellow Indians and others</p></div> 
      
            </div>
 
</body>
    </html>