<!DOCTYPE html>
<html>
    <head>
        {{>header}}
</head>
<body id="finalpage">
    <div class="wrapper">
        
        <div><i id="award_icon" class="fas fa-thumbs-up fa-5x"></i>
        <h1 class="user_name_1">Congratulations! <span class="name"></span></h1>
        <p class="user_points">you have successfully completed your quiz.<br>your points:<span class="points"></span></p></div>
    </div>
<!--font awesome-->
<script src="https://kit.fontawesome.com/2d4819fdc1.js" crossorigin="anonymous"></script>
<!--user info-->
<script src="/js/user_information.js"></script>
</body>
</html>