<!DOCTYPE html>
<html>
    <head>
        {{>header}}
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/registration-form-with-bootstarp.css">
     </head>     
        <body>
            <table border="0" width="100%">
                <tr>
                    <th align= "center">
                        <font color="white" ><h1>The Gyan Briksh</h1></font>
                        </th>
                      
                </tr></table> 
               
                
                            <div class ="loginbox">
                            <img src="/images/circle.png" class="avatar">
                            
                        
                            <form align="left" action="/login" method="POST" autocomplete="off">
                         <th><font color="blue"><h2>Get Started</h2></font>
                        </th>
                           
                            <input type="text" name="email" placeholder=" Email "style="width:250px;height:35px">
                            <br><br>
                            <input type="password" name="password" placeholder="Enter your Password"style="width:250px;height:35px" >
                            <br><br>
                            <th>  <input type="submit" name=""  value="Login"  style="width:258px;height:40px " ></th>
                            <br>
                           <br>
                            <table align="center" border="0"  bgcolor="white">
                            <tr>
                               <td><a>Or </a></td>
                            </tr>
                            </table>
                           
                               
                           <br>
                            </form>  
                            <a href="/register">Create an account  </a><br>

                          
                        </div>
                     
    </body>
    
</html>