<!DOCTYPE html>
<html>
    <head>
        {{>header}}
</head>
<body id="welcomepage_body">
    <script src="main(1).js"></script>
    <div class="wrapper">
        <div class="welcome_text">
            <h1 id="your_name">enter your name below</h1>
            <form class="welcome_form" name="welcome_form" onsubmit="submitform(event)" autocomplete="off" >  
                <input type="text" name="name">
                <button type="submit">play Quiz</button>
            </form>
        </div>
    </div>
    
</body>
</html>